!!!
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title
      - if @item[:title]
        = @item[:title] + ' - '
      UNC Computer Science Club
    %link{:rel => 'stylesheet', :href => '/style.css'}

  %body
    #wrapper
      %header
        %h1
          %a{:href => ('/' unless @item.identifier == '/')}
            UNC Computer Science Club

      %article
        - if @item[:title]
          %h1= @item[:title]

        = yield

      - if @item.identifier != '/'
        %footer
          %ul
            %li
              %a{:href => '/'} Home
            %li
              %a{:href => '#wrapper'} &uarr; Back to top
